

/* Small Device */

@media screen and (max-width:375px) {
  body{
    max-width: 375px;
    margin: 0 auto;
    margin-left:20px ;
  }

  main > section{
  margin-top: 10px;
}
 
  .nav-bar img{
    width: 28.72px;
    height: 33.52px;

  }
.nav-bar p{
  font-size: 1.125rem;
}
.nav-contant{
  display: none;
} 
.nav-bar{
  display: flex;
  gap: 147px;
  padding: 0px;
}
 .menu-icon {
    display: block;
  }
.banner,.shadow img{
  width: 335px;
  height: 483px;
  border-radius: 16px;
  background-position: center;

}
.Banner-container{
  text-align: center;
  margin-top: -450px;
}
.bannerh1{
  color:rgba(255, 255, 255, 1) ;
  font-size: 1rem;
  font-weight: 800;
}
.bannerp{
  color: rgba(255, 255, 255, 1);
  font-size: .8rem;
  font-weight: 400;
  margin-top:10px;
}
.bannerbtn{
  max-width: 287px;
  height: 288px;
  margin-left: 24px;
  margin-top: 32px;
  border-radius: 8px;
  background-color:rgba(255, 255, 255, 0.3);
  flex-direction: column;
  gap: 24px;
  padding:16px ;
 
}
.btn1{
  width: 255px;
  height: 50px;
  padding:16px 166px 16px 6px ;
  border-radius: 8px;
  border: none;
  color:rgba(19, 19, 24, 0.5) ;
}
.btn2{
  width: 255px;
  height: 50px;
  padding:16px 166px 16px 16px ;
  border-radius: 8px;
  border: none;
  color:rgba(19, 19, 24, 0.5) ;
  display: flex;
 gap: 155px;
}
.btn3{
  width: 255px;
  height: 50px;
  padding:16px 30px 16px 16px ;
  border-radius: 8px;
  border: none;
  color:rgba(19, 19, 24, 0.5) ;
  display: flex;
  gap:116px;
}

.btn4{
  width: 255px;
  height: 50px;
  padding:14px 75px;
  border-radius: 8px;
  border: none;
  display: flex;
  gap: 10px;
  background-color:rgba(255, 84, 0, 1) ;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
}

.popular-tour{
  flex-direction: column;
}
.tourimg{
  width: 330px;
  height: 342px;
}
.tourh{
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 24px;
}


.destination{
max-width: 100%;
margin: 550px 0px;
}
.destination h1{
font-size: 1rem;
margin-left: -50px;

}

.destination p{
  align-items: start;
  margin-top: 10px;
  max-width: 100%;
  text-align: start;
}
.country{
  margin-top: -550px;
  margin-left: -20px;
}
.row{
  flex-direction: column;
}

.text{
  font-size: 1rem;
}
}


/* Medium Device */
@media  screen and (min-width:576px) and (max-width:992px){

}

/* Mini Laptop Device */
@media  screen and (min-width:993px) and (max-width:1200px){

}

/* Large Screen  */
@media  screen and (min-width:1201px) and (max-width:1920px){

}