@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Mulish", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
 
/* SHARED STYLE  */

span{
  color:rgba(255, 84, 0, 1);
;
}



/* NAV STYLE  */
nav{
  max-width:1170px ;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 50px 0 48px 0;

}

.nav-logo{
  display: flex;
  align-items: center;
  gap: 16.63px;
  width: 50%;
}
.nav-logo img{
  width: 48px;
  height: 56px;
}
.nav-logo p{
  font-size: 2.25rem;
  font-weight: 800;
}

.nav-contant{
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
}
.nav-contant a{
 text-decoration: none;
 color:rgba(66, 66, 71, 1);
}
.menu-icon {
  display: none;
  width: 24px;
  cursor: pointer;
}

/* Main Style  */
main{
  max-width: 1170px;
  margin: 0 auto;
}
main > section{
margin-top: 100px;
}
/* Section1  */
.shadow img{
  width: 1170px;
  height: 500px;
}
.banner{
  width:1170px ;
  height: 500px;
  background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
  border-radius: 16px;
}
.Banner-container{
  text-align: center;
  margin-top: -394px;
}
.bannerh1{
  color:rgba(255, 255, 255, 1) ;
  font-size: 3rem;
  font-weight: 800;
}
.bannerp{
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 300;
  margin-top:24px;
}
.bannerbtn{
  max-width: 800px;
  margin-left: 185px;
  margin-top: 48px;
  border-radius: 8px;
  background-color:rgba(255, 255, 255, 0.3);
  display: flex;
  gap: 24px;
  padding:16px ;
 
}
.btn1{
  width: 174px;
  height: 50px;
  padding:16px 70px 16px 16px ;
  border-radius: 8px;
  border: none;
  color:rgba(19, 19, 24, 0.5) ;
}
.btn2{
  width: 174px;
  height: 50px;
  padding:16px  16px 16px ;
  border-radius: 8px;
  border: none;
   color:rgba(19, 19, 24, 0.5) ;
display: flex;
 gap: 50px;
}
.btn3{
  width: 174px;
  height: 50px;
  padding:16px 16px 16px ;
  border-radius: 8px;
  border: none;
  color:rgba(19, 19, 24, 0.5) ;
  display: flex;
  gap: 30px;
}
.btn4{
  width: 174px;
  height: 50px;
  padding:16px 0 16px 40px ;
  border-radius: 8px;
  border: none;
  display: flex;
  gap: 10px;
  background-color:rgba(255, 84, 0, 1) ;
  color: rgba(255, 255, 255, 1);
}

/* Section 1 End  */


/* section 2  */

.popular-tour{
  display: flex;
  max-width: 1170px;
  height: 550px;
  gap: 53px;
}

.tourh{
  font-size: 2.5rem;
  font-weight: 800;
}
.tourp{
  margin-top: 28px;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
}
.tourlist{
  padding-left: 20px;
  font-size: 1rem;
  font-weight:400 ;
  color: rgba(19, 19, 24, 0.7);
}

.btn{
  margin-top: 35px;
  padding: 14px 35px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: rgba(255, 84, 0, 1);
}
.tourimg{
  max-width: 540px;
  height: 540px;
}

/* Section 2 End  */

/* section 3 start  */

.destination{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 643px;
  height: 126px;
  margin-left: 263px;

}
.destination H1{
font-weight: 800;
font-style: ExtraBold;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}
.destination p{
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

/* section 3 end  */

/* section 4 start  */

.row{
  display: flex;
  gap: 24px;
  padding: 20px;
}
.destination-place{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.destination-place img{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.6);
}

/* section 4 end  */

/* section 5 start  */

.choose-us{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 643px;
  height: 126px;
  margin-left: 263px;

}
.choose-us H1{
font-weight: 800;
font-style: ExtraBold;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}
.choose-us p{
  margin-top: 24px;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}